@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --background: oklch(0.9816 0.0017 247.8390);
  --foreground: oklch(0.2383 0.0106 260.6885);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2383 0.0106 260.6885);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2383 0.0106 260.6885);
  --primary: oklch(0.5952 0.0696 228.9245);
  --primary-foreground: oklch(0.9751 0.0127 244.2507);
  --secondary: oklch(0.9417 0.0052 247.8790);
  --secondary-foreground: oklch(0.2383 0.0106 260.6885);
  --muted: oklch(0.9417 0.0052 247.8790);
  --muted-foreground: oklch(0.5575 0.0165 244.8933);
  --accent: oklch(0.9417 0.0052 247.8790);
  --accent-foreground: oklch(0.2383 0.0106 260.6885);
  --destructive: oklch(0.5915 0.2020 21.2388);
  --destructive-foreground: oklch(0.9751 0.0127 244.2507);
  --border: oklch(0.9109 0.0070 247.9014);
  --input: oklch(0.9109 0.0070 247.9014);
  --ring: oklch(0.5952 0.0696 228.9245);
  --chart-1: oklch(0.5952 0.0696 228.9245);
  --chart-2: oklch(0.7487 0.0723 228.3965);
  --chart-3: oklch(0.8313 0.0611 229.4905);
  --chart-4: oklch(0.9133 0.0506 232.7853);
  --chart-5: oklch(0.9409 0.0300 246.5903);
  --sidebar: oklch(0.9632 0.0034 247.8585);
  --sidebar-foreground: oklch(0.2383 0.0106 260.6885);
  --sidebar-primary: oklch(0.5952 0.0696 228.9245);
  --sidebar-primary-foreground: oklch(0.9751 0.0127 244.2507);
  --sidebar-accent: oklch(0.9417 0.0052 247.8790);
  --sidebar-accent-foreground: oklch(0.2383 0.0106 260.6885);
  --sidebar-border: oklch(0.9109 0.0070 247.9014);
  --sidebar-ring: oklch(0.5952 0.0696 228.9245);
  --font-sans: Inter, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 0;
  --shadow-blur: 0;
  --shadow-spread: 0;
  --shadow-opacity: 0;
  --shadow-color: 0 0 0 0;
  --shadow-2xs: 0 0 0 0 hsl(0 0 0 0 / 0.00);
  --shadow-xs: 0 0 0 0 hsl(0 0 0 0 / 0.00);
  --shadow-sm: 0 0 0 0 hsl(0 0 0 0 / 0.00), 0 1px 2px -1px hsl(0 0 0 0 / 0.00);
  --shadow: 0 0 0 0 hsl(0 0 0 0 / 0.00), 0 1px 2px -1px hsl(0 0 0 0 / 0.00);
  --shadow-md: 0 0 0 0 hsl(0 0 0 0 / 0.00), 0 2px 4px -1px hsl(0 0 0 0 / 0.00);
  --shadow-lg: 0 0 0 0 hsl(0 0 0 0 / 0.00), 0 4px 6px -1px hsl(0 0 0 0 / 0.00);
  --shadow-xl: 0 0 0 0 hsl(0 0 0 0 / 0.00), 0 8px 10px -1px hsl(0 0 0 0 / 0.00);
  --shadow-2xl: 0 0 0 0 hsl(0 0 0 0 / 0.00);
  --tracking-normal: normal;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2260 0.0083 264.3947);
  --foreground: oklch(0.9238 0.0093 232.3718);
  --card: oklch(0.2640 0.0120 264.3450);
  --card-foreground: oklch(0.9238 0.0093 232.3718);
  --popover: oklch(0.2640 0.0120 264.3450);
  --popover-foreground: oklch(0.9238 0.0093 232.3718);
  --primary: oklch(0.5952 0.0696 228.9245);
  --primary-foreground: oklch(0.9751 0.0127 244.2507);
  --secondary: oklch(0.3121 0.0137 261.7135);
  --secondary-foreground: oklch(0.9238 0.0093 232.3718);
  --muted: oklch(0.3121 0.0137 261.7135);
  --muted-foreground: oklch(0.7217 0.0363 245.6334);
  --accent: oklch(0.3121 0.0137 261.7135);
  --accent-foreground: oklch(0.9238 0.0093 232.3718);
  --destructive: oklch(0.5771 0.2152 27.3250);
  --destructive-foreground: oklch(0.9751 0.0127 244.2507);
  --border: oklch(0.3661 0.0153 259.8112);
  --input: oklch(0.3661 0.0153 259.8112);
  --ring: oklch(0.5952 0.0696 228.9245);
  --chart-1: oklch(0.5952 0.0696 228.9245);
  --chart-2: oklch(0.7487 0.0723 228.3965);
  --chart-3: oklch(0.8313 0.0611 229.4905);
  --chart-4: oklch(0.9133 0.0506 232.7853);
  --chart-5: oklch(0.9409 0.0300 246.5903);
  --sidebar: oklch(0.2383 0.0106 260.6885);
  --sidebar-foreground: oklch(0.9238 0.0093 232.3718);
  --sidebar-primary: oklch(0.5952 0.0696 228.9245);
  --sidebar-primary-foreground: oklch(0.9751 0.0127 244.2507);
  --sidebar-accent: oklch(0.3121 0.0137 261.7135);
  --sidebar-accent-foreground: oklch(0.9238 0.0093 232.3718);
  --sidebar-border: oklch(0.3661 0.0153 259.8112);
  --sidebar-ring: oklch(0.5952 0.0696 228.9245);
  --font-sans: Inter, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 0;
  --shadow-blur: 0;
  --shadow-spread: 0;
  --shadow-opacity: 0;
  --shadow-color: 0 0 0 0;
  --shadow-2xs: 0 0 0 0 hsl(0 0 0 0 / 0.00);
  --shadow-xs: 0 0 0 0 hsl(0 0 0 0 / 0.00);
  --shadow-sm: 0 0 0 0 hsl(0 0 0 0 / 0.00), 0 1px 2px -1px hsl(0 0 0 0 / 0.00);
  --shadow: 0 0 0 0 hsl(0 0 0 0 / 0.00), 0 1px 2px -1px hsl(0 0 0 0 / 0.00);
  --shadow-md: 0 0 0 0 hsl(0 0 0 0 / 0.00), 0 2px 4px -1px hsl(0 0 0 0 / 0.00);
  --shadow-lg: 0 0 0 0 hsl(0 0 0 0 / 0.00), 0 4px 6px -1px hsl(0 0 0 0 / 0.00);
  --shadow-xl: 0 0 0 0 hsl(0 0 0 0 / 0.00), 0 8px 10px -1px hsl(0 0 0 0 / 0.00);
  --shadow-2xl: 0 0 0 0 hsl(0 0 0 0 / 0.00);
}


@theme inline {
  --color-ufa: oklch(0.6015 0.1849 24.6084);
  --color-rfa: oklch(0.6558 0.1443 259.4053);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-positive: var(--positive);
  --color-positive-foreground: var(--positive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}